
body {
	font-size: 15pt;
	font-family: Helvetica;
	padding: 3em;
}

a {
	text-decoration: none;
	color: #6ae;
}

.note {
	font-weight: normal;
	font-size: 80%;
	color: #888;
	font-style: italic;
	margin: 1em 0;
}

.other {
	zdisplay: none;
	width: 99%;
	height: 6em;
}

.qst {
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0;
}

.qst .qid {
	font-size: 70%;
	color: #ace;
	text-align: right;
}

.rsp.active_false {
	color: #ccc;
}

.rsp {
	margin: 0 2em;
	border: solid 0.2em #fff;
	padding: 0.5em 1em;
	font-weight: bold;
	font-size: 120%;
	border-radius: 0.3em;
	background-color: #def;
}
.rsp:hover {
	zbackground-color: #ace;
	cursor: pointer;
	border: solid 0.2em #8be;
}
.rsp .txt {
	display: inline-block;
	zwidth: 50%;
}

.rsp .lnk_id {
	font-size: 90%;
	color: #ace;
	display: inline-block;
	margin-left: 4em;
}

input[type=button] {
	font-size: 100%;
}

input[type=button].small {
	font-size: 60%;
}

div.admin_ctrls {
	display: inline-block;
	margin-left: 2em;
}


input[type='radio'] {
	transform: scale(2);
	margin-right: 2em;
}

.admin {
	display: none;
}

.page {
	display: none;
}

.admin.btn {
	background-color: #fee;
	padding: 0.2em 0.5em;
	font-size: 14pt;
	display: inline-block;
	color: #840;
	font-weight: normal;
	cursor: pointer;
	border: none;
}

.handy:hover {
	opacity: 0.8;
}



